*{
    padding: 0;
    margin: 0;
    font-family: Raleway, sans-serif;
}

.todolist{
    display: flex;
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
    justify-content: space-between;
}
hr{
    width: 103%;
    height: 10px;
}
.separator{
    color: #FFF;
    background-color: #FFF;
    height: 2px;
    
}
ul{
    padding: 1px;
    color: #FFF;
    list-style-type: none;
}

input{
    inline-size: 45rem;
    border: none;
    color: #FFF;
    cursor: pointer;
    outline: none;
}
p{
   
    color: #FFF;
    width: 200px;

}
.btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 20px;
    margin-left: 664px;
    margin-top: 10px;
    
}
.checkbox{
    width: 20px;
    height: 16px;
    cursor: pointer;
    margin-left: 190px;
}
.buttons{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 25px;
    
}
.acoes{
    margin-top: 20px;
    display: flex;
    justify-content: space-between ;
}
.modalEdit{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
} 
.buttonsModal{
    cursor: pointer;
    padding: 5px;
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 50px;
    border: 1px solid #000000;
    color: #FFF;
    font-size: 30px;
    border-radius: 6px;
    margin-left: 110px;
}